<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>As Seen On Instagram</title>
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- Adding Google's icon library -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Loading static files -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'first_app/css/styles.css' %}" />
</head>
<body>
    <div class="container">
        <!--     Navbar code    --> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="{% static 'first_app/images/watermelon.png' %}" alt="Website Logo" id="website_logo"/><span class="ml-3">As Seen On Instagram</span></a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/category/1">Clothing</a>
                        <a class="dropdown-item" href="/category/2">Shoes</a>
                        <a class="dropdown-item" href="/category/3">Acessories</a>
                    </li>
                  </ul>
                </div>
        </nav>
        <!-- Breadcrumbs in the top of the page -->
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb bg-white">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h6 class="display-4">Current Cart</h6>
            </div>
        </div>
        <!-- Table of products in the cart with QTY, PRICE, Option to remove, change quantity -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                    {% for product in order.products.all%}
                    <tr>
                        <td>{{product.name}}</td>
                        <td>$ {{product.price}}</td>
                        <td>
                            <select class="form-control" name="quantity" id="quantity">
                                <option>1</option>
                            </select>
                        </td>
                        <td>
                            <form method='post' action='/remove_from_cart'>
                            {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{product.id}}">
                                <input type="hidden" name="order_id" value="{{order.id}}">
                                <input type="submit" value="remove" class="btn btn-outline-secondary btn-sm">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-2"></div>
                <div class="col-lg-8 mt-4">
                <h3 class="mb-3 mb-3">Shipping Information</h3>
                    {% if messages %}
                        {% for message in messages %}
                            <p class="red">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <!-- Shipping form -->
                    <form id="shipping_form" method='post' action='/orders/submit'>
                    {% csrf_token %}
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" class="form-control" name="full_name">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" name="address" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" class="form-control" name="city">
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" class="form-control" name="state">
                        </div>
                        <div class="form-group">
                            <label>Zipcode</label>
                            <input type="text" class="form-control" name="zipcode">
                        </div>
                        <a class="btn btn-outline-secondary btn-sm mb-2" data-toggle="collapse" href="#billingcollapse" role="button">My billing address is different</a>
                        <div class="collapse" id="billingcollapse">
                            <h3 class="mb-3 mb-3">Billing Information</h3>
                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" name="billing_address" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" name="billing_city">
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control" name="billing_state">
                            </div>
                            <div class="form-group">
                                <label>Zipcode</label>
                                <input type="text" class="form-control" name="billing_zipcode">
                            </div>
                        </div>
                        <input role="button" type="submit" class="btn btn-success float-right btn-sm" value="Finish Order">
                    </form>
                    <!-- End of shipping form -->
            </div>
        </div>

        <footer class="container">
            <hr>
            <p>2018-2022 Watermelon Company, Inc. <a href="">Privacy Policy</a> - <a href="">Terms of Service</a></p>
        </footer>
    </div>
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script> 
</body>
</html>